# Modules
node_modules
.npm-cache
.pnpm-store
**/.yarn/cache
**/.yarn/*state*
packs

# Artifacts
dist
.turbo
*.tmp*
.cache
.eslintcache
*.tsbuildinfo
.dux/

# Nuxt
.nitro
.nuxt
.output
.data
.vercel_build_output
.build-*
.netlify

# Local env files
.env
.env.*
!.env.example

# Testing
reports
coverage
*.lcov
.nyc_output
tsconfig.vitest-temp.json
.fetch-check.*

# Logs
logs
*.log*

# VSCode
.history
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.Spotlight-V100
.Trashes
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Various
.profile

# Project specific
__archive__/
__references__/
__temp__/